body {
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.body {
  height: 500px;
}

.well-white {
	background: #FFFFFF !important;
}

ul.errorlist {
  border-left: 4px solid red !important;
  border: ridge 1px #ff5100;
  background: #ffafaf;
  border-radius: 3px;
  list-style: none outside none;
}

.tabla_trabajadores, th, td {
  border: 1px solid lightgray;
  background-color: #FFFFFF;
}
.tabla_trabajadores th{
  padding: 15px;
  text-align: center;
  /*background-color: #d9edf7;*/
  /*color: #31708f;*/
}
.tabla_trabajadores td {
  padding: 10px;
  text-align: center;
}