{% extends "registro/base.html" %}
{% block titulo %}Lista de Actividades{% endblock %}
{% block cuerpo %}
<h1>Lista de Actividades</h1>
{% for actividad in object_list %}
<div class="well well-white">
  <b>Nombre de la actividad:</b> {{ actividad.nombre }}
  <br />
  <b>Avance (%):</b>
  {{ actividad.avance }} %
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ actividad.avance }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ actividad.avance }}%;">
    </div>
  </div>
  <hr />
  <a href="{% url 'registro:editar' actividad.id %}">Editar</a> |
  <a href="{% url 'registro:borrar' actividad.id %}">Borrar</a>
</div>
{% endfor %}
{% endblock %}